.text {
  background-color: red;
  text-align: center;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  will-change: background-color;
}
.yellow {
  background-color: yellow;
}
